.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.dashboard h2 {
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--green);
  width: 560px;
  padding: 5px;
  border-radius: 5px;
}

.dashboard button {
  margin-left: 15px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--violet);
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.dashboard button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.dashboard .disabled:hover {
  cursor: not-allowed;
}
